<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery"
        tools:targetApi="31">
        <activity
            android:name=".Add_To_Cart_Activity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalAccountActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmOTP"
            android:exported="false" />
        <activity
            android:name=".ConfirmOrdersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersTypeActivity"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".StoreInformationActivity"
            android:exported="false" />
        <activity
            android:name=".AddressBookActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".EnterPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".OrdersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".AddLocationnActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".RatingAndReviewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Account"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.example.fooddelivery.SearchFoodActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>